<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header"> <a href="/" id="logo"><img src="images/logo.gif" width="310" height="114" alt=""></a>
  <ul class="navigation">
    <li><a href="/">Trang chủ</a></li>
    <li><a href="/khachhang">Khách hàng</a></li>
    <li class="active"><a href="/nhanvien">Nhân viên</a></li>
    <li><a href="/dichvu">Dịch vụ</a></li>
    <li><a href="/sanpham">Sản Phẩm</a></li>
    <li><a href="/thongke">Thống kê</a></li>
  </ul>
</div>
<div id="body">
<h2>Thêm mới Nhân viên</h2>
    <form action="/nhanvien/save" method="post" th:object="${nhanVien}">
        <label>Họ và tên:</label>
        <input type="text" th:field="*{hotennv}"/><br/>
        <label>Ngày sinh:</label>
        <input type="date" th:field="*{ngaysinh}"/><br/>
        <label>Giới tính:</label>
        <label for="gender"></label>
        <select id="gender" name="gender" th:field="*{gioitinh}">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
            
        </select><br/>
        <label>Địa chỉ:</label>
        <input type="text" th:field="*{diachinv}"/><br/>
        <label>Email:</label>
        <input type="text" th:field="*{emailnv}"/><br/>
        <label>Số điện thoại:</label>
        <input type="text" th:field="*{sdtnv}"/><br/>
        <button type="submit">Lưu</button>
    </form>
</div>
<div id="footer">
  <p>&copy; 2024 Cửa hàng Chăm sóc Thú cưng</p>
</div>
</body>
</html>

