<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="body">
  <h2>Thêm mới Khách hàng</h2>
    <form action="/khachhang/save" method="post" th:object="${khachHang}">
    <table>
            <tr>
                <td>Họ và tên:</td>
                <td><input type="text" th:field="*{hotenkh}" /></td>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td><input type="text" th:field="*{diachikh}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{emailkh}" /></td>
            </tr>
            <tr>
                <td>Số điện thoại:</td>
                <td><input type="text" th:field="*{sdtkh}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Lưu</button></td>
            </tr>
        </table>
    </form>
</div>
<h2> <a href="/khachhang">Quay lại</a></h2>
</body>
</html>