<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header"> <a href="/" id="logo"><img src="../images/logo.gif" width="310" height="114" alt=""></a>
  <ul class="navigation">
    <li><a href="/">Trang chủ</a></li>
    <li><a href="/khachhang">Khách hàng</a></li>
    <li><a href="/nhanvien">Nhân viên</a></li>
    <li><a href="/dichvu">Dịch vụ</a></li>
    <li><a href="/sanpham">Sản Phẩm</a></li>
    <li  class="active"><a href="/thongke">Thống kê</a></li>
  </ul>
</div>
<div id="body">
<!-- thông tin khách hàng cần lập hóa đơn -->
<h2 id="table-title">Chi Tiết Hóa Đơn</h2>

    
 <!--  danh sách sản phẩm -->
  <h2 id="table-title">Danh sách Dịch vụ </h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Hóa Đơn</th>
                <th>ID Dịch vụ</th>
                <th>Tên Dịch vụ</th>
                <th>ID Thú cưng</th>
                <th>Tên Thú cưng</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate through the list of CTHD Dich Vu and display each record -->
            <tr th:each="cthdDichVu : ${cthdDichVuList}">
                <td th:text="${cthdDichVu.idcthd}"></td>
                <td th:text="${cthdDichVu.hoaDon.idhd}"></td>
                <td th:text="${cthdDichVu.dichVu.iddv}"></td>
                <td th:text="${cthdDichVu.dichVu.tendv}"></td>
                <td th:text="${cthdDichVu.thuCung.idpet}"></td>
                <td th:text="${cthdDichVu.thuCung.tenpet}"></td>
                <td th:text="${cthdDichVu.tong}"></td>
            </tr>
        </tbody>
    </table>
    <!-- danh sách dịch vụ -->
    <h2 id="table-title">Danh sách Sản phẩm</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Hóa Đơn</th>
                <th>ID Sản Phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate through the list of CTHD San Pham and display each record -->
            <tr th:each="cthdSanPham : ${cthdSanPhamList}">
                <td th:text="${cthdSanPham.idcthd}"></td>
                <td th:text="${cthdSanPham.hoaDon.idhd}"></td>
                <td th:text="${cthdSanPham.sanPham.idsp}"></td>
                <td th:text="${cthdSanPham.sanPham.tensp}"></td>
                <td th:text="${cthdSanPham.soluong}"></td>
                <td th:text="${cthdSanPham.tong}"></td>
            </tr>
        </tbody>
    </table>
    <h2><a href="/thongke"> Quay Lại</a></h2>
</div>
<div id="footer">
  <p>&copy; 2024 Cửa hàng Chăm sóc Thú cưng</p>
</div>
</body>
</html>
