<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="body">
    <h2>Thêm mới sản phẩm</h2>
    <form action="/sanpham/save" th:object="${sanpham}" method="post">
    <input type="hidden" th:field="*{idsp}"/>
        <table>
            <tr>
                <td>Tên dịch vụ:</td>
                <td><input type="text" th:field="*{tensp}" /></td>
            </tr>
            <tr>
                <td>Mô tả:</td>
                <td><textarea th:field="*{mota}"></textarea></td>
            </tr>
            <tr>
                <td>Giá :</td>
                <td><input type="text" th:field="*{gia}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Lưu</button></td>
            </tr>
        </table>
    </form>
</div>
<h2> <a href="/sanpham">Quay lại</a></h2>
</body>
</html>