<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
</head>
<body>

<div id="body">
  <h2 id="table-title">Sửa thông tin Nhân viên</h2>
    <form action="/nhanvien/save" method="post" th:object="${nhanVien}">
    <input type="hidden" th:field="*{idnv}"/>
       <table>
            <tr>
                <td>Họ và tên:</td>
                <td><input type="text" th:field="*{hotennv}" /></td>
            </tr>
            <tr>
                <td>Ngày sinh:</td>
                <td><input type="date" th:field="*{ngaysinh}"></td>
            </tr>
            <tr>
                <td>Giới tính:</td>
                <td><select id="gender" name="gender" th:field="*{gioitinh}">
            			<option value="Nam">Nam</option>
           				<option value="Nữ">Nữ</option>
            		</select>
        		</td>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td><input type="text" th:field="*{diachinv}" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{emailnv}" /></td>
            </tr>
            <tr>
                <td>Số điện thoại:</td>
                <td><input type="text" th:field="*{sdtnv}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Cập nhật</button></td>
            </tr>
        </table>
    </form>
</div>
<h2> <a href="/nhanvien">Quay lại</a></h2>
</body>
</html>
