<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="body">
  <h2>Thêm Thú cưng</h2>
    <form action="/thucung/save" th:object="${thucung}" method="post" >
    <input type="hidden" th:field="*{idpet}"/>
        <table>
            <tr>
                <td>Tên Thú Cưng:</td>
                <td><input type="text" th:field="*{tenpet}" /></td>
            </tr>
            <tr>
                <td>Loại thú cưng:</td>
                <td><select th:field="*{loai}">
                        <option value="chó" >Chó</option>
                        <option value="mèo">Mèo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Khách hàng</td>
                <td><select th:field="*{khachHang.idkh}">
						<option th:each="khachhang : ${listkhachhang}"
			                    th:value="${khachhang.idkh}" 
			                    th:text="${khachhang.idkh + ' - ' + khachhang.hotenkh}">
			            </option>
                    </select>
                </td>
            </tr>
             
            <tr>
                <td>Tình Trạng:</td>
                <td><input type="text" th:field="*{tinhtrang}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Lưu</button></td>
            </tr>
        </table>
        <h2> <a th:href="@{/thucung/{id}(id=${thucung.idpet})}">Quay lại</a></h2>
    </form>
    
</div>
</body>
</html>