<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header"> <a href="/" id="logo"><img src="../images/logo.gif" width="310" height="114" alt=""></a>
  <ul class="navigation">
    <li><a href="/">Trang chủ</a></li>
    <li class="active"><a href="/khachhang">Khách hàng</a></li>
    <li><a href="/nhanvien">Nhân viên</a></li>
    <li><a href="/dichvu">Dịch vụ</a></li>
    <li><a href="/sanpham">Sản Phẩm</a></li>
    <li><a href="/thongke">Thống kê</a></li>
  </ul>
</div>
<div id="body">
<!-- thông tin khách hàng cần lập hóa đơn -->

<h2 id="table-title">Lập hóa đơn</h2>

<form action="/hoadonkhachhang/save" method="post">

	<div th:object="${hoaDon}">
	<table>
		<tr>
            <td >Khách hàng :</td>
            <td th:each="kh : ${khachhang}" th:value="${kh.idkh}" th:text="${kh}">Khách hàng</td> 
        </tr>
        <tr>
            <td >Nhân viên:</td>
            <td >
            	<select name="nhanVien.idnv">
	         		<option th:each="nv : ${listNhanVien}" th:value="${nv.idnv}" th:text="${nv}">Nhân viên</option>
	    		</select>
            </td> 
        </tr>
        <tr>
        	<td>Ngày hiện tại:</td>
        	<td><span th:text="${ngayGiaoDich}"></span></td>
        </tr>
	</table>
</div>

 <!--  danh sách sản phẩm khách hàng chọn  -->
 
 <div th:object="${cthdSanPham}">
  <h2 id="table-title">Danh sách Sản phẩm</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên SP</th>
                <th>Mô tả</th>
                <th>Giá tiền</th>
                <th>Số lượng</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sanpham : ${lsSP}">
                <td th:text="${sanpham.idsp}"></td>
                <td th:text="${sanpham.tensp}"></td>
                <td th:text="${sanpham.mota}"></td>
                <td th:text="${sanpham.gia}"></td>
                <td><input name="soLuong" type="number" value="1"/></td>
            </tr>
        </tbody>
    </table>
  </div>
  
   <div th:object="${cthdDichVu}">

    <!-- danh sách dịch vụ khách hàng chọn -->
    <h2 id="table-title">Danh sách Dịch vụ</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên SP</th>
                <th>Mô tả</th>
                <th>Giá tiền</th>
                <th>Thú Cưng</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dichvu : ${lsDV}">
                <td th:text="${dichvu.iddv}"></td>
                <td th:text="${dichvu.tendv}"></td>
                <td th:text="${dichvu.mota}"></td>
                <td th:text="${dichvu.gia}"></td> 
	            <td >
	            	<select name="thuCung.idpet">
		         		<option th:each="tc : ${listThuCung}" th:value="${tc.idpet}" th:text="${tc}"> </option>
		    		</select>
	            </td>             
            </tr>
             
        </tbody>
        <tr th:if="${#lists.isEmpty(listThuCung)}">
            <td colspan="7">Chưa thú cưng </td>
           	<td colspan="7" th:each="kh : ${khachhang}" >
           		<a th:href="@{/thucung/add/{id}(id=${kh.idkh})}">Thêm Thú cưng</a>
           	</td>
        </tr> 
    </table>
   </div>
    <button type="submit">Lưu hóa đơn</button>
</form>
</div>
<div id="footer">
  <p>&copy; 2024 Cửa hàng Chăm sóc Thú cưng</p>
</div>
</body>
</html>
