<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header"> <a href="/" id="logo"><img src="../images/logo.gif" width="310" height="114" alt=""></a>
  <ul class="navigation">
    <li><a href="/">Trang chủ</a></li>
    <li class="active"><a href="/khachhang">Khách hàng</a></li>
    <li><a href="/nhanvien">Nhân viên</a></li>
    <li><a href="/dichvu">Dịch vụ</a></li>
    <li><a href="/sanpham">Sản Phẩm</a></li>
    <li><a href="/thongke">Thống kê</a></li>
  </ul>
</div>
<div id="body">
<!-- thông tin khách hàng cần lập hóa đơn -->
<h2 id="table-title">Lập hóa đơn</h2>
<h2>Chọn Khách Hàng</h2>
 	<h2 th:each="khachhang : ${khachhang}" >Khách Hàng: </h2>
     <h2 th:text="${khachhang.idkh + ' - ' + khachhang.hotenkh + ' - ' + khachhang.sdtkh}"></h2>
    
 <!--  danh sách sản phẩm khách hàng chọn  -->
  <h2 id="table-title">Danh sách Sản phẩm</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên SP</th>
                <th>Mô tả</th>
                <th>Giá tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sanpham : ${lsSP}">
                <td th:text="${sanpham.idsp}">ID</td>
                <td th:text="${sanpham.tensp}">Name</td>
                <td th:text="${sanpham.mota}">Description</td>
                <td th:text="${sanpham.gia}">Price</td>
            </tr>
        </tbody>
    </table>
    <!-- danh sách dịch vụ khách hàng chọn -->
    <h2 id="table-title">Danh sách Dịch vụ</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên SP</th>
                <th>Mô tả</th>
                <th>Giá tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dichvu : ${lsDV}">
                <td th:text="${dichvu.iddv}">ID</td>
                <td th:text="${dichvu.tendv}">Name</td>
                <td th:text="${dichvu.mota}">Description</td>
                <td th:text="${dichvu.gia}">Price</td>               
            </tr>
        </tbody>
    </table>
    <!-- chọn nhân viên phụ trách hóa đơn -->
    <h2>Select Employee ID</h2>
    <form>
        <label for="nhanvien">Select Employee ID:</label>
        <select id="nhanvien" name="nhanvien">
            <option value="">-- Select Employee ID --</option>
            <!-- Iterate through the list of employees and populate the options -->
            <option th:each="nhanvien : ${listNhanVien}" 
                    th:value="${nhanvien.idnv}" 
                    th:text="${nhanvien.idnv + ' - ' + nhanvien.hotennv}">
            </option>
        </select>   
        <br><br>
    </form>
    
</div>
<div id="footer">
  <p>&copy; 2024 Cửa hàng Chăm sóc Thú cưng</p>
</div>
</body>
</html>
