<!DOCTYPE html>
<html>
<head>
<title>Pet Shop</title>
<meta charset="utf=8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header"> <a href="/" id="logo"><img src="images/logo.gif" width="310" height="114" alt=""></a>
  <ul class="navigation">
    <li class="active"><a href="/">Trang chủ</a></li>
    <li><a href="/khachhang">Khách hàng</a></li>
    <li><a href="/nhanvien">Nhân viên</a></li>
    <li><a href="/dichvu">Dịch vụ</a></li>
    <li><a href="/sanpham">Sản Phẩm</a></li>
    <li><a href="/thongke">Thống kê</a></li>
  </ul>
</div>
<div id="body">
  <div class="banner">&nbsp;</div>
  <div id="content">
    <div class="content">
      <ul>
        <li> <a ><img src="images/puppy.jpg" width="200" height="250" ></a>
          <h2>What they need</h2>
          <p>Mirum est notare quam littera gothica, quam nunc putamus parum clara m, ant epo suerit li tterar.</p>
        </li>
        <li> <a ><img src="images/cat.jpg" width="200" height="250" alt=""></a>
          <h2>Something good</h2>
          <p>Gothica, quam nun c putamus parum claram, anteposuerit litterarum formas humani tatis per seacula.</p>
        </li>
        <li> <a><img src="images/koi.jpg" width="200" height="250" alt=""></a>
          <h2>Kinds of Fish</h2>
          <p>Quam nunc putamus parum claram, antep osuerit litter arum formas humanitatis per seacula quarta. </p>
        </li>
        <li> <a ><img src="images/bird.jpg" width="200" height="250" alt=""></a>
          <h2>Fun birds</h2>
          <p>Mirum est notare quam littera gothica , quam nunc putamus parum claram, anteposuerit. </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <p>&copy; 2024 Cửa hàng Chăm sóc Thú cưng</p>
</div>
</body>
</html>
