<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header"> <a href="/" id="logo"><img src="images/logo.gif" width="310" height="114" alt=""></a>
  <ul class="navigation">
    <li><a href="/">Trang chủ</a></li>
    <li class="active"><a href="/khachhang">Khách hàng</a></li>
    <li><a href="/nhanvien">Nhân viên</a></li>
    <li><a href="/dichvu">Dịch vụ</a></li>
    <li><a href="/sanpham">Sản Phẩm</a></li>
    <li><a href="/thongke">Thống kê</a></li>
  </ul>
</div>
<div id="body">
  <h2 id="table-title">Danh sách Khách hàng</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Họ và tên</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="khachHang : ${listKhachHang}">
                <td th:text="${khachHang.idkh}"></td>
                <td th:text="${khachHang.hotenkh}"></td>
                <td th:text="${khachHang.diachikh}"></td>
                <td th:text="${khachHang.emailkh}"></td>
                <td th:text="${khachHang.sdtkh}"></td>
                <td>
                    <a class="cn" href="/thucung">Thêm thú cưng</a>
                    <a class="cn" href="/hoadonkhachhang/{id}(id=${khachHang.idkh})">Lập Hóa Dơn</a>
                </td>
                <td>
                    <a class="cn" th:href="@{/khachhang/edit/{id}(id=${khachHang.idkh})}">Sửa</a>
                    <a class="cn" th:href="@{/khachhang/delete/{id}(id=${khachHang.idkh})}" onclick="return confirm('Bạn có chắc chắn muốn xóa không?')">Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="cn" href="/khachhang/add">Thêm mới</a>
</div>
<div id="footer">
  <p>&copy; 2024 Cửa hàng Chăm sóc Thú cưng</p>
</div>
</body>
</html>
