<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pet Shop</title>
<meta charset="utf-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header"> <a href="/" id="logo"><img src="images/logo.gif" width="310" height="114" alt=""></a>
  <ul class="navigation">
    <li><a href="/">Trang chủ</a></li>
    <li><a href="/khachhang">Khách hàng</a></li>
    <li class="active"><a href="/nhanvien">Nhân viên</a></li>
    <li><a href="/dichvu">Dịch vụ</a></li>
    <li><a href="/sanpham">Sản Phẩm</a></li>
    <li><a href="/thanhtoan">Thanh Toán</a></li>
  </ul>
</div>
<div id="body">
  <h2 id="table-title">Danh sách Nhân viên</h2>
  
  	<h3>Tìm kiếm Nhân viên</h3>
    <form th:action="@{/nhanvien/search}" method="get">
        <input type="text" name="keyword" placeholder="Nhập từ khóa tìm kiếm..."/>
        <button type="submit">Tìm kiếm</button>
    </form>
    
    <table border="1">
        <thead>
            <tr id="danh">
                <th>ID</th>
                <th>Họ và tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Số điện thoại</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="nhanVien : ${listNhanVien}">
                <td th:text="${nhanVien.idnv}"></td>
                <td th:text="${nhanVien.hotennv}"></td>
                <td th:text="${#dates.format(nhanVien.ngaysinh, 'dd/MM/yyyy')}"></td>
                <td th:text="${nhanVien.gioitinh}"></td>
                <td th:text="${nhanVien.diachinv}"></td>
                <td th:text="${nhanVien.emailnv}"></td>
                <td th:text="${nhanVien.sdtnv}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/nhanvien/add">Thêm mới</a>
</div>
<div id="footer">
  <p>&copy; 2024 Cửa hàng Chăm sóc Thú cưng</p>
</div>
</body>
</html>
