<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Customers</title>
</head>
<body>
    <h2>List of Customers</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        <tr th:each="khachhang : ${khachhangs}">
            <td th:text="${khachhang.id}"></td>
            <td th:text="${khachhang.hoTen}"></td>
            <td th:text="${khachhang.diaChi}"></td>
            <td th:text="${khachhang.email}"></td>
            <td th:text="${khachhang.sdt}"></td>
            <td>
                <a th:href="@{/khachhang/edit/{id}(id=${khachhang.id})}">Edit</a>
                <a th:href="@{/khachhang/delete/{id}(id=${khachhang.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/khachhang/add">Add Customer</a>
</body>
</html>
