<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Danh sách nhân viên</title>
<link rel="stylesheet" type="text/css" href="css/myStyle.css">
</head>
<body>
	<h1>Thêm mới thành công nhân viên</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Mã số nhân viên </th>
				<th>Họ và Tên </th>
				<th>Lương</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="nv : ${dsNV}">
				<td th:text="${nv.maSoNV}" />
				<td th:text="${nv.hoVaTen}" />
				<td th:text="${nv.luong}" />
			</tr>
		</tbody>
	</table>
</body>
</html>