<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Danh sách sinh viên</title>
<link rel="stylesheet" type="text/css" href="css/myStyle.css">
</head>
<body>
	<h1>Student List</h1>
	
	<table class="table-header">
		<thead>
			<tr>
				<th class="col col-1">Mã số sinh viên </th>
				<th class="col col-2">Họ và Tên </th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-row" th:each="sv : ${dsSV}">
				<td class="col col-1" th:text="${sv.maSoSV}" />
				<td class="col col-2" th:text="${sv.hoVaTen}" />
			</tr>
		</tbody>
	</table>
</body>
</html>